body {
font-family:calibri;
font-size:20px;
background-image:url(../bg.jpg);
margin:0px;
}

h1 {
text-align:center;
margin:0px;
background-image:url(../head.jpg);
}

#header {
background-color:#f3ebf7;
margin:0px;
height:50px;
}

.nav {
line-height:49px;
padding:10px;
border-right:1px solid #e0b8f5;
border-radius:5px;
}

.navlink {
color:black;
text-decoration:none;
}

.nav:hover {
color:black;
border-bottom:1px solid black;
}

#realbody{
background-color:#f7a6a7;
width:1240px;
margin:auto;
border-radius:20px;
border:2px solid #e36668;
padding:20px;
box-shadow:2px 2px 20px #f7bc4f;
}

#table {
background-color:#cf696b;
padding:5px 20px 20px;
width:240px;
border-radius:10px;
color:white;
}

#realbody h2 {
border-bottom:1px solid white;
}

h3 {
background-color:white;
padding:10px;
width:920px;
border-radius:10px;
font-size:40px;
margin:0px 0px 20px;
}
			
#content {
background-color:white;
padding:20px;
width:900px;
border-radius:10px;
text-align:justify;
}

#content img {
display:block;
margin:auto;
border:1px solid gray;
border-radius:10px;
}

.Tablelinks {
color:#d4fcf2;
text-decoration:none;
}

.Tablelinks:hover {
color:#d4fcf2;
text-decoration:underline;
}

#footer {
margin:0px;
background-color:gray;
padding:10px;
color:white;
}

.source {
font-size:10px;
color:grey;
text-align:center;
}

.sub {
font-weight:bold;
background-color:yellow;
padding-left:10px;
}